<!doctype html>
<html ng-app="store">
<head>
<title>Almacen</title>
<link rel="stylesheet" type="text/css" href="css/app.css" />
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script src="js/app.js"></script>
</head>
<body ng-controller="StoreController as store" style=" width : 758px;">

	<div class="panel">
		</div><div ng-repeat="product in store.products | orderBy:'price'"
		ng-hide="product.soldOut">
		<product-title></product-title>
		
		<ul class="img-thumbnails clearfix">
			<li class="small-image pull-left thumbnail"
				ng-repeat="image in product.images"><img ng-src="{{image}}" />
			</li>
		</ul>
		<section ng-controller="PanelController as panel" >
			<ul class = "nav nav-pills">
			<li ng-class="{active:panel.isSelected(1)}"><a href ng-click="panel.selectTab(1)">Descripci&oacute;n</a></li>
			<li ng-class="{active:panel.isSelected(2)}"><a href ng-click="panel.selectTab(2)">Especificaci&oacute;n</a></li>
			<li ng-class="{active:panel.isSelected(3)}"><a href ng-click="panel.selectTab(3)">Revisiones</a></li>
			</ul>
		<div class="panel" ng-show="panel.isSelected(1)">
			<h4>Descripci&oacute;n</h4>
			<p>{{product.description}}</p>
		</div>		
		<div class="panel" ng-show="panel.isSelected(2)">
			<h4>Especificaciones</h4>
			<p>Ninguna</p>
		</div>
		<div class="panel" ng-show="panel.isSelected(3)">
			<h4>Revisiones</h4>
			<blockquote  ng-repeat="review in product.reviews">
				<b>Stars: {{review.stars}}</b>
				{{review.body}}
				<cite>by: {{review.author}}, {{review.createdOn | date}}</cite>
			</blockquote>
			<form name="reviewForm" 
			ng-controller="ReviewController as reviewController"
			ng-submit="reviewForm.$valid && reviewController.addReview(product)" novalidate="novalidate">
			
		      <fieldset class="form-group">
                <select class="form-control" ng-options="stars for stars in [5,4,3,2,1]"  title="Stars" ng-model="reviewController.review.stars" required="required">
                  <option value="">Calificaci&oacute;n</option>
                  <option value="1">1 Estrella</option>
                  <option value="2">2 Estrellas</option>
                  <option value="3">3 Estrellas</option>
                  <option value="4">4 Estrellas</option>
                  <option value="5">5 Estrellas</option>
                </select>
              </fieldset>
              <fieldset class="form-group">
                <textarea class="form-control" placeholder="Write a short review of the product..." title="Review" ng-model="reviewController.review.body" required="required"></textarea>
              </fieldset>
              <fieldset class="form-group">
                <input type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" ng-model="reviewController.review.author" required="required"/>
              </fieldset>
              <fieldset class="form-group">
                <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
              </fieldset>
			</form>
		</div>
		</section>
	
		<button ng-show="product.canPurchase">Agregar a Carrito</button>
	</div>

</body>
</html>